.idea
*.jar
*.iml

manifest.yml
MANIFEST.MF
settings.xml
*/target
*~
*.mp3
streamer/node_modules/*
*/node_modules/
.gradle/
logs.txt
streamer/pusher.properties
Requests/src/main/resources/pusher.properties
music-storage/file-uploads/
